<table class="tbl-search-result">
  <thead>
    <tr>
      <ng-template ngFor let-column [ngForOf]="config?.columns">
        <th [width]="column.width">{{ column.name }}</th>
      </ng-template>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-datarow [ngForOf]="dataListToShow" let-i="index">
      <tr (click)="onClickDataRow($event, datarow, i)">
        <ng-template ngFor let-column [ngForOf]="config?.columns" let-j="index">
        
          <ng-template [ngIf]="column.type == 'text'">
            <td (click)="onClickDataItem($event, deriveValue(column, datarow, i, j), datarow, column.key, i)">
                {{ deriveValue(column, datarow, i, j) }}
            </td>
          </ng-template>

          <ng-template [ngIf]="column.type == 'button'">
            <td>
                <button
                  (click)="onClickDataItem($event, deriveValue(column, datarow, i, j), datarow, column.key, i)">
                  {{ deriveValue(column, datarow, i, j) }}
                </button>
            </td>
          </ng-template>

        </ng-template>
      </tr>
    </ng-template>
    <ng-template ngFor let-emptyRow [ngForOf]="emptyRows">
      <tr>
        <ng-template ngFor let-column [ngForOf]="config?.columns" let-i="index">
          <td>
          </td>
        </ng-template>
      </tr>
    </ng-template>
    <ng-template [ngIf]="dataListToShow.length === 0">
      <tr>
        <td class="no-data"
            [style.height.px]="config.option.rowsPerPage * 40"
            [attr.colspan]="config.columns.length">
          <p>{{ config.option.emptyMessage }}</p>
          <p class="sub" [innerHTML]="config?.option?.emptySubMessage">
          </p>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
<ng-simple-pagination
  [totalPageCount]="totalPageCount"
  [currentPageIndex]="currentPageIndex"
  (movePage)="onMovePage($event)">
</ng-simple-pagination>