<table class="tbl-search-result">
  <thead>
    <tr>
      <ng-template ngFor let-column [ngForOf]="columns">
        <th [width]="column.width || '10%'">{{ column.name }}</th>
      </ng-template>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-datarow [ngForOf]="dataListToShow" let-i="index">
      <tr (click)="onClickDataRow($event, datarow, i)">
        <ng-template ngFor let-column [ngForOf]="columns" let-i="index">
        
          <ng-template [ngIf]="column.type == 'text'">
            <td (click)="onClickDataItem($event, column.value ? column.value : datarow[column.key], datarow, column.key, i)">
                {{ column.value ? column.value : datarow[column.key] }}
            </td>
          </ng-template>

          <ng-template [ngIf]="column.type == 'button'">
            <td>
                <button
                  (click)="onClickDataItem($event, column.value ? column.value : datarow[column.key], datarow, column.key, i)">
                  {{ column.value ? column.value : datarow[column.key] }}
                </button>
            </td>
          </ng-template>

        </ng-template>
      </tr>
    </ng-template>
    <ng-template ngFor let-emptyRow [ngForOf]="emptyRows">
      <tr>
        <ng-template ngFor let-column [ngForOf]="columns" let-i="index">
          <td>
          </td>
        </ng-template>
      </tr>
    </ng-template>
    <ng-template [ngIf]="dataListToShow.length === 0">
      <tr>
        <td class="no-data"
            [style.height.px]="rowsPerPage * 30"
            [attr.colspan]="columns.length">
          <p>{{ emptyMessage }}</p>
          <p class="sub" [innerHTML]="emptySubMessage">
          </p>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
<ng-simplePagination
  [totalPageCount]="totalPageCount"
  [currentPageIndex]="currentPageIndex"
  (movePage)="onMovePage($event)">
</ng-simplePagination>