<div class="paginate">
  <button class="button" (click)="onMoveFirst()">First</button>
  <button class="button" (click)="onMovePrev()">Prev</button>
  <!-- <a class="item" (click)="onMoveFirst()">First</a> -->
  <!-- <a class="button-prev" (click)="onMovePrev()">처음</a> -->
  
  <ng-template [ngIf]="totalPageCount === 0">
    <strong>1</strong>  
  </ng-template>
 
  <ng-template ngFor let-pageIndex [ngForOf]="getDynamicPageNumberList(currentPageIndex, totalPageCount, numberCountOfPage)">
    <ng-template [ngIf]="currentPageIndex === pageIndex">
      <strong (click)="onMovePage(pageIndex)">
        {{ pageIndex + 1 }} 
      </strong>  
    </ng-template>

    <ng-template [ngIf]="currentPageIndex !== pageIndex">
      <a (click)="onMovePage(pageIndex)">
        {{ pageIndex + 1 }} 
      </a>
    </ng-template>
  </ng-template>
  
  <button class="button" (click)="onMoveNext()">Next</button>
  <button class="button" (click)="onMoveLast()">Last</button>
</div>