<div class="paginate">
  <a class="item" (click)="onMoveFirst()">First</a>
  <a class="button-prev" (click)="onMovePrev()">처음</a>
  
  <ng-template ngFor let-pageIndex [ngForOf]="createRange(totalPageCount)">
    <ng-template [ngIf]="currentPageIndex === pageIndex">
      <strong (click)="onMovePage(pageIndex)">
        {{ pageIndex + 1 }} 
      </strong>  
    </ng-template>

    <ng-template [ngIf]="currentPageIndex !== pageIndex">
      <a (click)="onMovePage(pageIndex)">
        {{ pageIndex + 1 }} 
      </a>
    </ng-template>
  </ng-template>
  
  <a class="button-next" (click)="onMoveNext()">끝</a>
  <a class="item" (click)="onMoveLast()">Last</a>
</div>